/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/
html, body {
	margin: 0;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
******************************************************/

/* global styles */
body {
	font-family: sans-serif;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

section {
	padding: 5rem 0;
}

h2 {
	font-size: 2rem;
	margin-top: 0;
}

/* header styles */
header {
	background-color: darkorange;
	color: #ffffff;
	padding: 2rem 0;
}

header h1 {
	display: inline-block;
	font-size: 4.5rem;
	margin: 0 3rem 0 0;
}

/* instructions section */
.instructions {
	border: 3px solid darkorange;
	color: darkorange;
	font-weight: bold;
	line-height: 1.5rem;
	padding: 3rem;
}

.instructions img {
	border: 3px solid lightgray;
	width: 250px;
}

/* captain picard section */
section:nth-child(2) {
	background-color: lightgray;
	color: #555555;
	line-height: 1.5rem;
}

img[alt="captain picard"] {
	width: 300px;
	border: 3px solid white;
	margin-right: 3rem;
}

section:nth-child(2) span {
	font-style: italic;
	font-weight: bold;
	color: black;
	font-family: serif;
}

/* profe$$ional Skillz */
section:last-child h2 {
	color: darkorange;
	text-align: right;
}

table {
	width: 100%;
	text-align: left;
}

th, td {
	background-color: darkorange;
	color: white;
	padding: 1rem;
}

/* footer */
footer {
	background-color: black;
	color: lightgray;
	padding: 2rem 0;
}